## Git
alias gs="git status"
alias gco="git checkout"
alias gcom="git checkout master"
alias gd="git diff"
alias gf="git fetch"
alias gb="git branch"
alias gpl="git pull"
alias gps="git push"
alias gc="git commit"
alias ga="git add"
alias gaa="git add --all"
alias gbclean='git branch --merged | xargs git branch -d'

## Ruby
alias be="bundle exec"
alias ber="bundle exec rake"
alias berc="bundle exec rails c"
alias dbs="bundle exec rake db:seed"
alias dbm="bundle exec rake db:migrate"
alias befs="bundle exec forego start"
